* text=auto eol=lf

*.blade.php linguist-language=blade
*.css linguist-language=css
*.html linguist-language=html
*.js linguist-language=JavaScript
*.md linguist-language=markdown
*.php linguist-language=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
